*{
    margin: 0;
    padding: 0;
}
body {
    transition: background-color .25s, color .25s;
    color: var(--color-text);
    background-color: var(--color-body);
}
#app{
    width: 100vw;
    height: 100vh;
}